
.scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll-bar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #384c58 ;
}
.scroll-bar::-webkit-scrollbar-thumb:active {
  background: #384c58 ;
}
.scroll-bar::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.scroll-bar::-webkit-scrollbar-track:hover {
  background: #1e2830;
}
.scroll-bar::-webkit-scrollbar-track:active {
  background: #1e2830;
}
.scroll-bar::-webkit-scrollbar-corner {
  background: transparent;
}